$color-light: #f4f4f4;
$color-light-hover: #e0e0e0;
$color-dark: #333;
$color-light-gray: #ccc;
$color-gray: #999;
$color-dark-gray: #666;

.sudoku {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        line-height: 1.5;
    }

    background-color: $color-gray;
    padding: 2px;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;

    .square-group {
        background-color: $color-light-gray;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1px;

        .square {
            width: 1.5rem;
            height: 1.5rem;
            text-align: center;
            background-color: $color-light;
        }

        .square:hover {
            background-color: $color-light-hover;
            cursor: pointer;
        }

        .square.annotations {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .annotation {
                width: 0.5rem;
                height: 0.5rem;
                font-size: 0.3rem;
                line-height: 1.7;
                color: $color-dark-gray;
            }
        }
    }
}
